<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.apache.ibatis.test.dao.EmployeeMapper">
	<select id="getEmpById" resultType="org.apache.ibatis.test.bean.Employee">
		select id,last_name lastName,email,gender from tbl_employee where id = #{id}
	</select>

  <!--  public Employee getEmpByIdAndLastNameOne(Integer id,String lastName);-->
  <select id="getEmpByIdAndLastNameOne" resultType="org.apache.ibatis.test.bean.Employee">
 		select * from tbl_employee where id = #{param1} and last_name=#{param2}
 	</select>

  <!--  public Employee getEmpByIdAndLastName(Integer id,String lastName);-->
  <select id="getEmpByIdAndLastName" resultType="org.apache.ibatis.test.bean.Employee">
 		select * from tbl_employee where id = #{id} and last_name=#{lastName}
 	</select>

  <!-- public Employee getEmpByMap(Map<String, Object> map); -->
  <select id="getEmpByMap" resultType="org.apache.ibatis.test.bean.Employee">
 		select * from ${tableName} where id=${id} and last_name=#{lastName}
 	</select>
</mapper>
